<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="row">
        <!-- Bitbacket INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-bitbucket"></span> Bitbacket</h3>
                <p>
                    <strong>id</strong>: <%= user.bitbacket_id %><br>
                    <strong>Display name</strong>: <%= user.bitbacket_display_name %><br>
                    <strong>Bitbacket account created at</strong>: <%= user.created_bibacket_account %><br>
                    <strong>User name</strong>: <%= user.user_name %> <br>
                    <strong>Role</strong>: <%= user.bitbacket_type %><br>
                    <%if (user.bitbacket_website) { %>
                    <strong>Website</strong>: <%= user.bitbacket_website %><br>
                    <% } else { %>
                    <strong>Website</strong>: no <br>
                    <% } %>
                    <strong>bitbacket repositories</strong>: <%= user.bitbacket_repositories %><br>
                    <img style="height: 150px;
    width: 150px;" src=" <%= user.avatar %>">
                </p>
            </div>
        </div>

    </div>

</div>