<!doctype html>
<html>
<head>
    <% include ./partials/head.ejs %>
</head>
<script>
    function sendForm(e) {
            var xhr = new XMLHttpRequest();
            var login = document.getElementById('login').value;
            var pass = document.getElementById('password').value;
            var body = 'usernameField=' + encodeURIComponent(login) +
                    '&passwordField=' + encodeURIComponent(pass);
            xhr.open('POST', '/auth/local', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
            xhr.send(body);
            xhr.onreadystatechange = function() {
                if (this.readyState != 4) return;

                if (this.status != 200) {
                    // обработать ошибку
                    alert( 'ошибка: ' + (this.status ? this.statusText : 'запрос не удался') );
                    return;
                }
                document.body.innerHTML = this.responseText;
            };
    }
</script>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Passport Auth</h1>
        <p>Login with:</p>
        <a href="/auth/bitbucket" class="btn btn-primary"><span class="fa fa-bitbucket"></span> Bitbucket</a>
        <p>OR</p>
        <form class="m-t" role="form"  action="#">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email"  id="login" required >
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required id="password">
            </div>
            <button type="submit" class="btn btn-primary" onclick="sendForm()">Enter</button>
            <input id="submit_handle" type="submit" style="display: none">
        </form>
    </div>
</div>
<footer>
    <% include ./partials/footer.ejs %>
</footer>
</body>
</html>