<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="well">
                <h1 class="text-primary"><span>Hello, <%= user.user_name %></span> </h1>
                <p>
                    <strong>email</strong>: <%= user.email %><br>
                </p>
            </div>
        </div>

    </div>

</div>
</body>
<footer>
    <% include ./partials/footer.ejs %>
</footer>
</body>
</html>