<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <% include ./partials/head.ejs %>
</head>
<header>
    <% include ./partials/header.ejs %>
</header>

<footer>
    <% include ./partials/footer.ejs %>
</footer>
</body>
</html>